body{
  background-color: #4b5;
}

h1{
  text-shadow: 2px 2px #ddd;
}

h2{
  text-shadow: 2px 1px #256934;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button{
  cursor: pointer;
  border: none;
  width: 30%;
  padding: 10px;
  border-radius: 20px;
  background-color: #af3;
  color: #444;
  text-transform: uppercase;
}

button:hover{
  opacity: .8;
}